services:
  nginx-rtmp:
    build: .
    restart: unless-stopped
    ports:
      - "1935:1935"
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./entrypoint.sh:/entrypoint.sh:ro
      - ./nginx.conf:/etc/nginx/nginx.conf.template:ro
      - hls_data:/var/www/html/hls
    command: "/entrypoint.sh"

volumes:
  hls_data:
