services:
  app:
    build:
      context: .
    volumes:
      - .:/app
      - ./data:/data
    ports:
      - "80:80"
      - "443:443"
      - "1935:1935"
      - "8080:8080"
      - "9229:9229"
    environment:
      - NODE_ENV=development
      - DATABASE_PATH=/data/db.sqlite
      - NEXT_PUBLIC_APP_URL=https://example.com
      - EMAIL=admin@example.com
    entrypoint: /entrypoint.sh
