services:
  app:
    build:
      context: .
    volumes:
      - .:/app
      - ./data:/data
    ports:
      - "3000:3000"
      - "1935:1935"
      - "8080:8080"
      - "9229:9229"
    environment:
      - NODE_ENV=development
      - DATABASE_PATH=/data/db.sqlite
    entrypoint: /entrypoint.sh
