services:
  app:
    build:
      context: .
      target: dev
    volumes:
      - .:/app
      - ./data:/app/data
    ports:
      - "3000:3000"
      - "1935:1935"
      - "8080:8080"
      - "9229:9229"
    environment:
      - NODE_ENV=development
      - DATABASE_PATH=/app/data/db.sqlite
    entrypoint: /app/entrypoint.sh
