services:
  app:
    build:
      context: .
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - NEXT_PUBLIC_APP_URL=${NEXT_PUBLIC_APP_URL}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
    ports:
      - "80:80"
      - "443:443"
      - "1935:1935"
      - "8080:8080"
    entrypoint: /entrypoint.sh
